body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #1d2124;
}

.logo {
    display: flex;
}

.logo-img {
    background-color: #1a1d20;
    width: 27px;
    height: 27px;
    padding: 20px;

}

.logo-text {
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
}

.navbar-menu {
    display: flex;
}

.navbar-item {
    padding: 26px;
    font-size: 15px;
    color: white;
}

.search-icon {
    color: white;
    font-size: 20px;
    padding: 20px;
}

.latest-news {
    background-image: url("../img/header-bg-img@1X.png");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-news-content {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.latest-news-header {
    font-size: 27px;
    color: white;
    text-align: center;
    padding: 20px;
}

.news-buttons {
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.sub-button {
    padding: 20px;
    background-color: #89ca62;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
}

.best-articles {
    padding: 20px 30px;
    background-color: #14b9d5;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 18px;
}


.popular-posts {
    width: 100%;
    background-color: #f2f2f2;

}

.posts-header {
    text-align: center;
    color: #18b4cf;
    padding: 50px 0px 20px 0px;
    font-size: 27px;
    font-weight: bold;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.post-column {
    display: flex;
    flex-direction: column;
}

.post-item {
    margin: 30px;
}

.post-item-text {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.popular-clients {
    background-image: url("../img/Layer 4@1X.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;

}

.clients-header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 200px 0px 60px;
    position: relative;
}

.clients-header:after {
    content: '';
    border-bottom: 3px solid #169cb4;
    width: 70px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 48%;

}

.clients-list {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.clients-item {
    margin-right: 75px;
}

.top-rated {
width: 100%;
    margin: 0 auto;
}
.top-rated-header{
    font-size: 27px;
    font-weight: bold;

    color: #18b4cf;
    text-align: center;
    padding: 50px 0px;
    width: 100%;
}

.top-rated-container {
    width: 100%;
    display: inline-grid;

    grid-template-columns: auto auto auto auto auto auto auto;

}
.hot-news{
    width: 70%;
    margin: 0 auto;
}

.hot-news-header{
    font-size: 27px;
    font-weight: bold;

    color: #18b4cf;
    text-align: center;
    padding: 50px 0px;
    width: 100%;
}


.hot-news-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 260px 450px 450px 260px;
    grid-row-gap: 50px;
}






.hot-news-item1{
grid-column: 1/4;
    display: flex;

}
.hot-news-text1{
    width: 400px;
    padding: 25px;
    text-align: center;
    background-color: #f9f7f7;
}

.hot-news-text-header1{
    font-size: 18px;
    font-weight: bold;
    padding: 20px;

}
.hot-news-subtext1{
    font-size: 14px;
    line-height: 1.5em;
}






.hot-news-item2{

margin-left: 56px;
}
.hot-news-text-header2{
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    background-color: #f9f7f7 ;
    width: 247px;
}








.hot-news-item3{
    grid-column: 1/3;

}
.hot-news-text3{
background-color:#f9f7f7 ;
    width: 514px;
    text-align: right;
    padding: 0px 20px 20px;
    line-height: 1.4em;
}

.hot-news-text-header3{
    padding: 20px 0px;
    font-size: 18px;
    font-weight: bold;
}
.hot-news-subtext3{
    font-size: 14px;
}







.hot-news-item4{
    grid-column: 3/5;
    margin-left: 113px;
}
.hot-news-text4{
    background-color:#f9f7f7 ;
    width: 514px;
    text-align: right;
    padding: 0px 20px 20px;
    line-height: 1.4em;
}
.hot-news-text-header4{
    padding: 20px 0px;
    font-size: 18px;
    font-weight: bold;
}
.hot-news-subtext4{
    font-size: 14px;
}









.hot-news-item5{
    grid-column: 1/3;
}










.hot-news-item6{
    grid-column: 3/5;
    margin-left: 113px;
}











.hot-news-item8{
    grid-column: 2/5;
    display: flex;
    margin-left: 66px;
}


footer{
    background-color: #1d2124;
    width: 100%;
    margin-top: 70px;

}
.footer-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 35px;
    align-items: center;
}
.footer-text{
    color: white;
}


