body {
    background-image: url("../img/bg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 80px;
}
.header-title:hover{
    color: #3cb878;
}

.header-right-side {
    display: flex;
    align-items: center;

}

.header-icons {
    padding: 20px;
}


.icon  {
    display: inline-block;
    padding: 0px 25px;
    font-size: 25px;

}
.icon-style{
    color: white;
}
.icon i:hover{
    color: #3cb878;
    transition:all 0.2s;
}

.login-signup {
    padding: 20px 80px 20px 25px;
    color: white;
}

.login-link {
    color: #3cb878;
}
.login-link:hover{
    text-decoration: underline;
}
main{

}

.signup-window {
    width: 450px;
    background-color: white;
    margin: 75px auto 0px;
    border-radius: 15px;

}

.window-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 15px;
}

.window-title {
    display: flex;
    align-items: center;

}

.green-square {
    width: 18px;
    height: 18px;
    background-color: #3cb878;

}

.window-title-text {
    font-size: 20px;
    padding-left: 40px;
    font-weight: 500;
}

.window-login-link {
    padding-right: 60px;
    color: #3cb878;
}

.social-buttons {
    width: 330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.fb-button {
    display: flex;
    background-color: #305db8;
    border-radius: 5px;
    align-items: center;
}

.g-button {
    display: flex;
    background-color: #df4a32;
    border-radius: 5px;
    align-items: center;


}

.fb-icon {
    padding: 15px 0px 15px 20px;
    color: white;
    font-size: 20px;
}

.g-icon {
    padding: 15px 0px 15px 20px;
    color: white;
    font-size: 20px;
}

.fb-icon:after {
    content: '';
    border: 0.5px solid #2b54a5;
    margin-left: 15px;
}

.g-icon:after {
    content: '';
    border: 0.5px solid #c8422d;
    margin-left: 15px;
}

.button-text {
    padding: 15px 20px;
    color: white;
}

.divider {
    padding: 30px 60px 20px 60px;
    text-align: center;
}

.divider-text {
    color: #cecece;
    font-size: 14px;
}

.divider-text:before {
    content: '';
    display: inline-block;
    border-bottom: 1px solid #cecece;
    width: 44%;
    margin-bottom: 4px;
    margin-right: 9px;

}

.divider-text:after {
    content: '';
    display: inline-block;
    border-bottom: 1px solid #cecece;
    width: 44%;
    margin-bottom: 4px;
    margin-left: 9px;
}


.register-form {
    padding: 10px 60px;
    margin: 0 auto;


}

.form-items {
    width: 100%;
    margin-bottom: 15px;
    padding: 18px 0px;
    border: 1px solid #cecece;
    border-radius: 4px;
}

.form-items:hover{
    box-shadow: 0px 5px 5px #888888;
    transition: all 0.2s;
}

.form-items::placeholder {
padding: 20px;
    font-size: 14px;
}

.cb-container {
    position: relative;
padding: 10px 30px;
    display: inline-block;
}

#agree-terms {
    opacity: 0;
    height: 0;
    width: 0;
    padding-bottom: 5px;
    position: absolute;



}

.custom-cm {
    height: 15px;
    width: 15px;
    border: 1px solid #cecece;
    border-radius: 2px;
    position: absolute;
    top: 9px;
    left: 0;
}
.custom-cm:after{
    content: '';
    position: absolute;
    display: none;
}
#agree-terms:checked ~ .custom-cm:after{
    display: block;
}
.custom-cm:after{
    left: 4px;
    width: 4px;
    height: 9px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


.terms-link{
    color: #3cb878;
}



.create-button {

    margin-top: 30px;
  width: 100%;
    padding: 17px 0px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: #3cb878;
    margin-bottom: 30px;
}


