a {
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.top-section{
background-image: url("../img/Sections background/section-1(header).jpg");
background-size: cover;
    background-repeat: no-repeat;
background-attachment: fixed;
    background-position: center;
}


header{
    background-color: rgba(0,0,0,0.5);
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar-item{
    display: inline-block;
    padding: 50px 10px;
    font-size: 13px ;
    color: #b8b8b8;
}
.navbar-item:hover{
    color:#18cfab ;
}
.navbar-item-active{
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}
.logo-img{
    background: url("../img/Polygon 1@1X.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 15px;
}
.logo-h{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.logo-ham{
    display: flex;
    align-items: center;
}
.logo-text{
color: white;
    font-size: 16px;
    margin-left: 3px;
}
.logo-text-green{
color: #18cfab;
    font-size: 16px;
    font-weight: bold;

}

.we-are-creative{
    text-align: center;
    line-height: 4em;
    padding: 150px 0px;
    color: white;
    font-weight: bold;
}
.creative-header{
    font-size: 35px;
}
.creative-header-green{
    color: #18cfab;
}
.creative-text{
    font-size: 70px;
}
.creative-subtext{
    font-size: 30px;
    font-weight: 400;
    color: #d4d4d4;
}

.explore-now{
    padding: 25px 35px;
    font-size: 13px;
    background-color: #18cfab;
    border: none;
    color: white;
    border-radius: 5px;
margin-right: 15px;
    box-shadow: 0px -5px white;
    font-weight: 700;

}

.purchase-now{
    padding: 25px 25px;
    font-size: 13px;
    background-color:  #00cbf6;
    border: none;
    color: white;
    border-radius: 5px;
margin-left: 15px;
    box-shadow: 0px -5px white;
    font-weight: 700;

}

.buttons{
    margin-top: 80px;
}

.squares{
    display: flex;
}
.square-item{
    width: calc(100% / 4);
    background-color: #18cfab;
text-align: center;
    padding: 85px 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-top: 5px solid white;

}
.black-square{
    background-color: #1c2a33;
    border-top: 5px solid #18cfab;

}

.square-text{
    margin-top: 40px;
}

.green-square-text{
    margin-top: 62px;
}

.our-services{
margin-bottom: 100px;
}
.our-services-header{
    font-size: 36px;

    text-align: center;
    position: relative;
    padding:80px 0px;

}
.our-services-header::after{
    content: '';
    border-bottom: 1px solid #18cfab ;
    width: 80px;
    position: absolute;
top: 160px;
    left: 530px;
    box-shadow: 15px 5px #18b4cf;
}
.hidden{
   position: absolute;
    top: -9999px;
    left: -9999px;
}
.services-tabs{
    display: flex;
    justify-content: space-between;
}
.tab-item{
    font-size: 16px;
    padding: 30px 40px;
border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;

    border-collapse: collapse;
    background-color: #f8fcfe;
}
.tab-item:first-child{
    border-left: 1px solid #ebebeb;
}
.services-active{
    background-color: #18cfab;
    color: white;
    display: inline-block;
    position: relative;

}
.services-active::after{
    content: '';
    border-top: 10px solid #18cfab ;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    position: absolute;
    bottom: -20px;
    right: 80px;
}

.our-services-content{
    padding-top: 25px;
    display: flex;
    text-align: left;
    font-size: 14px;
    justify-content: space-between;
    color: #777777;
    line-height: 1.7em;

}
.services-img{
    width: 194px;
    height: 140px;
    border: 1px solid lightgrey;
}
.services-text{
    padding: 0px 20px;
}
.buy-section{
    background: url("../img/Sections background/section-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.buy-section-opacity{
    background-color: rgba(0,0,0,0.7);
}
.buy-section-content{
    text-align: center;
    padding-bottom: 100px;
}

.buy-section-header{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18cfab;
    padding:120px 0px 20px;

}
.buy-section-subtext{
    font-size: 16px;
    color: white;
padding-bottom: 70px;
}
.our-amazing-work-wrapper{
    background-color: #f8fcfe;
}

.our-amazing-work-wrapper{

    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 100px;

}
.our-amazing-work{
text-align: center;
}


.our-amazing-work-header{
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    padding: 80px 0px;

}
.our-amazing-work-header::after{
    content: '';
    border-bottom: 1px solid #18cfab ;
    width: 80px;
    position: absolute;
    top: 160px;
    left: 530px;
    box-shadow: 15px 5px #18b4cf;
}

.amazing-work-list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
.amazing-work-item{
    padding: 25px;
    border: 1px solid #ebebeb;
    border-left:none;
    background-color: white;
}

.amazing-work-item:first-child{
    border-left:  1px solid #ebebeb;
    padding: 25px 30px;
}
.amazing-work-active{
    color: #18cfab;
    border-top: 2px solid #18cfab ;
}

/*.amazing-work-img-item{*/
/*float: left;*/
/*    height: 210px;*/

/*}*/

/*.amazing-work-img-item-2{*/
/*    float: left;*/
/*    height: 210px;*/

/*}*/

.amazing-work-img-item::after{
    clear: both;
}
.amazing-work-img-item-2:last-child::after{
    clear: both;
}
.amazing-work-img-item img{
    height: 100%;
}

.load-more-btn{
    padding: 25px 20px 25px 55px;

border: none;
    color: white;
    background-color: #18cfab;
margin: 70px auto 0px;
    position: relative;
    border-radius: 5px;
}

.load-more-btn-txt{
    font-size: 14px;
    font-weight: 700;
}
.load-more-plus{
    font-size: 30px;
    position: absolute;
    top: 17px;
    left: 22px;
    font-weight: bold;
}

.breaking-news{
    text-align: center;
    padding-bottom: 120px;
}
/*.breaking-news-content{*/
/*}*/
.breaking-news-header{
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    padding: 80px 0px;

}
.breaking-news-header::after{
    content: '';
    border-bottom: 1px solid #18cfab ;
    width: 80px;
    position: absolute;
    top: 160px;
    left: 530px;
    box-shadow: 15px 5px #18b4cf;
}



.breaking-news-card{
    display: inline-block;
    margin: 0px 30px 120px 0px;
    position: relative;

}
.no-margin-right{
    margin-right: 0px;
}

.card-details{
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    position: absolute;
    top: 208px;
    text-align: left ;
    width: 263px;


}
.card-author{
    display: inline-block;
    padding: 0px 15px 15px 15px;
    font-size: 14px;
    position: relative;
    color: #777777;
}
.card-author:after{
    content: '';
    border-right: 1px solid #777777;
    display: inline-block;
    height: 15px;
    margin-left: 15px;
    position: relative;
    top: 2px;

}
.comments{
    display: inline-block;
    color: #777777;
}
.card-date{
    position: absolute;
    background-color: #203e38;
    top: 0px;
    right: 0px;
    padding: 15px 18px ;
    font-size: 16px;
    color: white;
}
.date-day{
    margin-bottom: 10px;
}

.details-header{
padding: 15px 0px 15px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #717171;
}

.card-active{
    color: #18cfab;
}
.date-active{
    background-color: #18cfab;
    color: white;
}
.client-feedback{
    background: url("../img/Sections background/section-3.jpg");
}

.what-they-say{
    background: rgba(0,0,0,0.3);
    position: relative;
}

.what-they-say-header{
    font-size: 36px;
    color: white;
    position: relative;
    padding: 80px 0px;
text-align: center;
}
.what-they-say-header::after{
    content: '';
    border-bottom: 1px solid #18cfab ;
    width: 80px;
    position: absolute;
    top: 160px;
    left: 530px;
    box-shadow: 15px 5px #18b4cf;
}
 .double-quotes{
     margin-left: calc(100% / 2 - 30px);
     color: #18cfab;
     font-size: 50px;
 }

 .what-they-say-subtext{
     font-size: 16px;
     text-align: center;
     padding: 45px 0px 45px;
     line-height: 1.7em;
     color: #bbbbbb;
 }

 .gallery-header{
     font-size: 36px;
     color: #4e4e4e;
     position: relative;
     padding: 80px 0px;
     text-align: center;
 }
.gallery-header::after{
    content: '';
    border-bottom: 1px solid #18cfab ;
    width: 80px;
    position: absolute;
    top: 160px;
    left: 530px;
    box-shadow: 15px 5px #18b4cf;
}

 .gallery-images{
     margin-top: 50px;
     display: flex;
     justify-content: space-between;
 }
 .gallery-img-column{
     display: flex;
     flex-direction: column;
     margin-right: 20px;


 }
 .gallery-img-column:last-child{
     margin-right: 0px;
 }
 .gallery-column-item{
     margin-bottom: 20px;
 }
 .gallery-row-2{
     margin-bottom: 20px;
 }

.load-more-btn-2{
    padding: 25px 20px 25px 55px;

    border: none;
    color: white;
    background-color: #18cfab;
    margin: 70px auto 100px;
    position: relative;
    border-radius: 5px;
    display: block;
}

.load-more-btn-txt-2{
    font-size: 14px;
    font-weight: 700;
}
.load-more-plus-2{
    font-size: 30px;
    position: absolute;
    top: 17px;
    left: 22px;
    font-weight: bold;
}

.footer{
    padding: 50px 0px;
    background-color: #22353f;
}

.footer-text{
    color: #767e82;
font-size: 14px;
    text-align: center;
}
.green-text{
    color: #18cfab;
}


.slider{
    background-color: black;
}
.slider-for{
    position: relative;
    width: 30%;
margin: 0px auto;
    height: 200px;
    vertical-align: middle;

}
.slider-for-content{
    padding-bottom: 20px;

}
.slider-for img{

    margin: 0 auto;
}

.slider-nav{
    width: 30%;
    margin: 50px auto 0px;
    padding: 70px 0px;
}

.slick-next{
    position: absolute;
    top: 177%;
    padding: 11px;
    border: 1px solid white;
}
.slick-next::before{
    position: absolute;
    top: 4px;
    left: 6px;
    font-size: 14px;
}
.slick-prev{
    position: absolute;
    top: 177%;
    padding: 11px;
    border: 1px solid white;
}
.slick-prev::before{
    position: absolute;
    top: 4px;
    left: 6px;
    font-size: 14px;
}
.slick-next:hover{
    background-color: #18cfab;

}
.slick-prev:hover{
    background-color: #18cfab;
}
.slider-image{
    width: 60px;
    height: 60px;
    border: 4px solid rgba(24,207,170,0.3);
    border-radius: 100%;
    margin: 0 auto;


}
.slider-image-top{
    width: 140px;
    height: 140px;
    border: 2px solid #18cfab;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 7px rgba(24,207,170,0.3);


}
.slider-for-content{
    text-align: center;
    display: flex;
flex-direction: column;
}
.slider-for-name{
font-size: 16px;
    font-weight: bold;
    color: #18cfab;
    padding: 10px;
    display: inline-block;

}
.slider-for-job{
    padding: 10px;
    color: white;
    margin-bottom: 25px;
}