
.pricing-table{
    border: 30px solid #3a4965;
    font-family: 'Arimo', sans-serif;
}

table, td, th {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    vertical-align: middle;
}
tr{
    background-color: #fafafa;
    color: #484848;
}
.choose-plan{
    width: 310px;
    font-size: 18px;
    height: 160px;
    font-weight: 700;
}
.bigger-font{
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.container{
    width: 275px;
    height: 86px;
    text-align: center;
}
.td-style{
    font-size: 16px;
    vertical-align: middle;
}
.row-headers{
    width: 310px;
font-size: 16px;
    color: #848484;
    vertical-align: middle;
    text-align: center;
}
.standart-plan{
    background-color: #89c331;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.ultimate-plan{
    background-color: #f04a56;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.premium-plan{
    background-color: #20807c;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.price{
    font-size: 60px;
    font-weight: bold;
}
.price-cent{
    font-size: 24px;
    vertical-align: top;
    font-weight: bold;
}
.per-month{
    font-size: 18px;
    vertical-align: top;
    display: block;
}
.sub-items{
    display: inline-block;
    text-align: left;
}
.row-color-light{
    background-color: #f2f2f2;
}

.row-headers i{
    font-size: 24px;
    margin-right: 15px;
}
.row-color-dark{
    background-color: #e3e3e3;
}
.footer-container{
    width: 275px;
    height: 110px;
    text-align: center;
}
.contact-us{
    padding: 18px 45px 10px;
    background-color: #484848;
    display: inline-block;
    border-radius: 7px;
    border-bottom: 9px solid #404040;
    box-sizing: border-box;
}


.contact-us:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}
.footer-row-header{
    width: 310px;
    font-size: 16px;
    color: white;
    vertical-align: middle;
    text-align: center;
}
.buy-now-green{

    padding: 18px 60px 10px;
    background-color: #89c331;
    display: inline-block;
    border-radius: 7px;
    border-bottom: 9px solid #79b027;
    box-sizing: border-box;
    color: white;
}

.buy-now-green:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}
.buy-now-red{

    padding: 18px 60px 10px;
    background-color: #f04a56;
    display: inline-block;
    border-radius: 7px;
    border-bottom: 9px solid #df3a46;
    box-sizing: border-box;
    color: white;
}
.buy-now-red:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}
.buy-now-blue{

    padding: 18px 60px 10px;
    background-color: #20807c;
    display: inline-block;
    border-radius: 7px;
    border-bottom: 9px solid #16736f;
    box-sizing: border-box;
    color: white;
}

.buy-now-blue:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}