body {

    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #ffd736;
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 6px;
    font-size: 400%;

    line-height: 1.5em;
    text-align: center;
}

.text-title{
    font-size: 200%;
    margin-bottom: 100px;
    line-height: 1.5em;

}
.moving-content {
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
    animation: move 30s linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}