.clearfix {
    clear: both;
}

.container {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    background-image: url("../img/background@1X.png");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);


}

.bg-color-opacity {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

/* HEADER START */


.header-elements {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}


.logo {
    font-size: 50px;
    display: inline-block;
    color: white;
    float: left;
}

.logo:hover {
    color: #f26522;
}

.header-name {
    display: inline-block;
    float: left;
    margin-left: 15px;
}

.header-name-first {
    font-size: 30px;
    font-weight: 900;

    margin-bottom: 5px;
}


.header-name-second {
    font-size: 19px;
    font-weight: 700;


}

.header-name a {
    text-decoration: none;
    color: white;
}

.header-name a:hover {
    color: #f26522;
}

.contact {
    float: right;

}

.contact {
    color: white;
    text-align: right;
}

.e-mail {
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: 600;
}

.phone-num {
    font-weight: 600;
}

/* HEADER ENDS*/





/* MAIN  START*/


.tour-options {

    width: 80%;
    margin: 0 auto;
}


.option {
    width: calc(100% / 3 - 50px);
    margin-top: 40px;
    margin-right: 75px;
    float: left;
    position: relative;



}
.option a{
    text-decoration: none;

}
.option:hover .option-details{
    visibility: visible;
 bottom: 58px;

    transition: all 0.3s;

}


.option-img-bg {
    width: 100%;
    background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.option-img {
    width: 98%;
    margin-left: 2px;
    margin-top: 2px;


}

.option-name {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0px;

}
.no-margin{
    margin-right: 0px;
}

.copyright{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 15px;

}
.copy-text{
    font-size: 12px;
    color: white;
    font-weight: 700;
}

.option-details{
    width: 100%;
    background-color: #f26522;
    padding: 15px 0px 10px 0px;
    position: absolute;
    bottom: 0px;
    visibility: hidden;

}

.details-from{
    display: block;
    padding:0px 10px;
    font-size: 10px;
    margin-bottom: 7px;
    color: white;
    font-weight: 500;
}

.details-price{
    padding: 0px 10px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.details-view{
    font-size: 14px;
    color: white;
    font-weight: 500;
    margin-left: 100px;

}


/* MAIN END */


